@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #2F3336;
  --muted-foreground: #6a7279;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: ##2F3336;
    --foreground: #ededed;
    --muted-foreground: #6a7279;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-lexend-deca), sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html {
    font-family: var(--font-lexend-deca), system-ui, sans-serif;
  }
  
  body {
    @apply text-[#2F3336];
  }
}

.custom-slider .nextui-slider-filler {
  background-color: #D4A017 !important;
}

.custom-icon {
  background-color: #feecba !important;  
  color: #2F3336 !important; 
  border-radius: 9px; 
  padding: 0.5rem 0.5rem; 
}

.custom-moduletitle {
  font-size: 28px;
  max-width: 100%;
  line-height: 38px;
  letter-spacing: -0.015em;
  font-weight: bold;
}


main {
  flex: 1;
  overflow-y: auto;
}



.custom-start {
  background-color: #D6D0FD !important; 
  color: white !important; 
  border-radius: 6px !important; 
  padding: 0.025rem 0.5rem !important; 
}

.custom-button {
  background-color: #D6D0FD !important; 
  color: white !important; 
  border-radius: 50%; 
  width: 2.70rem;
  height: 2.70rem;
  display: inline-flex;
  justify-content: center;
  align-items: center; 
  padding: 0; 
  border: none; 
  font-size: 1.5rem;
  line-height: 0; 
  cursor: pointer;
}


.custom-button svg {
  height: 1.5rem; 
  width: 1.5rem;  
}

.custom-cardtitle {
  font-size:28px;
  line-height: 38px;
  letter-spacing: -0.015em;
  font-weight: bold;
  padding-top: -3px;
}

.custom-card-content{
  font-size:18px;
  line-height: 38px;
  letter-spacing: -0.015em;
}
.custom-dialog {
  background-color: white !important; 
}

.custom-progress {
  background-color: #EFF1F2 !important; 

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.text-muted-foreground {
  color: var(--muted-foreground);
}

@keyframes swipeLeft {
  0% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(-50px);
  }
}

.animate-swipeLeft {
  animation: swipeLeft 2s ease-in-out infinite;
}

.pointer-container {
  position: relative;
  display: inline-block;
}

.trailing-effect {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  width: 40px;
  height: 2px;
  background: linear-gradient(to right, white, transparent);
}


.swiper-container {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}